<html>
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/cadastro.css">

</head>
<body>
    <form action="/cadastrar" method="post">
        <fieldset>
            <legend>Cadastro</legend>
            <br>
            <label for="nome">Nome:</label>
            <br>
            <input type="text" id="nome" name="nome" required>
            <br>

            <label for="data_nascimento">Data de Nascimento:</label>
            <br>
            <input type="date" id="data_nascimento" name="data_nascimento" required>
            <br>

            <label for="cpf">CPF:</label>
            <br>
            <input type="text" id="cpf" name="cpf" required>
            <br>

            <label for="email">Email:</label>
            <br>
            <input type="email" id="email" name="email" required>
            <br>

            <label for="senha">Senha:</label>
            <br>
            <input type="password" id="senha" name="senha" required>
            <br> 

            <input type="submit" value="Cadastrar">
        </fieldset>

        <div class="login-link">
            <fieldset>
                <legend>Já possui uma conta?</legend>
                <button type="button" onclick="window.location.href='/login'">Fazer login</button>
            </fieldset>
        </div>
        
    </form>
</body>
</html>