<html>
    <head>
        <title>Cadastro</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/cadastro.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div class="container">
            <div class="logo-container">
                <div class="logo">GaStore</div>
                <p>Jogue os melhores jogos que têm a sua cara!</p>
                <a href="login.html" class="ir-login"> 
                    Já tenho conta!
                </a>
            </div>
            <div class="cadastro-container">
                <div class="cadastro-titulo">
                    <i class="fa-solid fa-user-check"></i> Crie sua conta
                </div>
                <form method="POST" class="cadastro-form" id="cadastro-form">
                    <input type="text" id="nome" name="nome" placeholder="Nome" required>
                    <input type="date" id="data_nascimento" name="data_nascimento" placeholder="Data de Nascimento" required>
                    <input type="text" id="cpf" name="cpf" placeholder="CPF" required>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <input type="password" id="senha1" name="senha1" placeholder="Senha" required>
                    <input type="password" id="senha2" name="senha2" placeholder="Confirme a Senha" required>
                    <button type="submit" class="cadastro-button">Cadastrar</button>
                    <p id="mensagem"></p>
                    
                </form>
                
                <script src="../noStatic/cadastro.js" defer></script>
            </div>
        </div>
    </body>
</html>