<html>
  <head>
    <title>GaStore - Início</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/inicio.css" />
  </head>
  <body>

    <script src="../noStatic/menu.js"></script>


    <div class="banner">
      <img src="../static/imagens/GASTORE.png" alt="Logo GaStore" width="120">
    </div>

    <h2>Jogos em Destaque</h2>
    <div class="jogos">
      <div class="jogo">
        <img src="../static/imagens/GASTORE.png" alt="Jogo 1" />
        <h3>Jogo 1</h3>
        <p>Descrição do Jogo 1</p>
      </div>
      <div class="jogo">
        <img src="../static/imagens/GASTORE.png" alt="Jogo 1" />
        <h3>Jogo 1</h3>
        <p>Descrição do Jogo 1</p>
      </div>
      <div class="jogo">
        <img src="../static/imagens/GASTORE.png" alt="Jogo 1" />
        <h3>Jogo 1</h3>
        <p>Descrição do Jogo 1</p>
      </div>
      <div class="jogo">
        <img src="../static/imagens/GASTORE.png" alt="Jogo 1" />
        <h3>Jogo 1</h3>
        <p>Descrição do Jogo 1</p>
      </div>
      <div class="jogo">
        <img src="../static/imagens/GASTORE.png" alt="Jogo 1" />
        <h3>Jogo 1</h3>
        <p>Descrição do Jogo 1</p>
      </div>
      <div class="jogo">
        <img src="../static/imagens/GASTORE.png" alt="Jogo 1" />
        <h3>Jogo 1</h3>
        <p>Descrição do Jogo 1</p>
      </div>
      <div class="jogo">
        <img src="../static/imagens/GASTORE.png" alt="Jogo 1" />
        <h3>Jogo 1</h3>
        <p>Descrição do Jogo 1</p>
      </div>
      <div class="jogo">
        <img src="../static/imagens/GASTORE.png" alt="Jogo 1" />
        <h3>Jogo 1</h3>
        <p>Descrição do Jogo 1</p>
      </div>

    </div>


  </body>
</html>

