<html>

<head>
  <title>GaStore - Início</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/inicio.css" />
</head>

<body>
  <script src="../noStatic/menu.js"></script>

  <div class="banner">
    <img src="../static/imagens/GASTORE.png" alt="Logo GaStore" width="120">
  </div>

  <h2>Jogos em Destaque</h2>

  <div class="jogos">
    <div class="jogo">
      <img src="../static/imagens/sonicmania.jpg" alt="Sonic Mania" />
      <h3>Sonic Mania</h3>
      <p>Reviva a era clássica de Sonic em alta velocidade!</p>
      <span class="preco">R$ 59,90</span>
    </div>

    <div class="jogo">
      <img src="../static/imagens/ghostoftsushima.jpg" alt="Ghost of Tsushima Director's Cut" />
      <h3>Ghost of Tsushima Director's Cut</h3>
      <p>Ghost of Tsushima: Director's Cut é uma versão atualizada de Ghost of Tushima que inclui a expansão exclusiva
        da história da Ilha Iki, comentários do diretor e o modo cooperativo online Legends.</p>
      <span class="preco">R$ 133,99</span>
    </div>

    <div class="jogo">
      <img src="../static/imagens/thelastofus2.jpg" alt="The Last of Us™ Part II Remastered" />
      <h3>The Last of Us™ Part II Remastered</h3>
      <p>Experimente o vencedor de mais de 300 prêmios de Jogo do Ano, agora com uma série de aprimoramentos técnicos
        que fazem de The Last of Us Part II Remastered a maneira definitiva de vivenciar a aclamada história de Ellie e
        Abby.</p>
      <span class="preco">R$ 199,90</span>
    </div>

    <div class="jogo">
      <img src="../static/imagens/battlefield6.jpg" alt="Battlefield 6" />
      <h3>Battlefield 6</h3>
      <p>A experiência da guerra total definitiva. Em uma guerra de tanques, jatos e enormes arsenais de combate, seu
        pelotão é a arma mais mortal.</p>
      <span class="preco">R$ 299,90</span>
    </div>

    <div class="jogo">
      <img src="../static/imagens/reddead2.jpg" alt="Red Dead Redemption 2" />
      <h3>Red Dead Redemption 2</h3>
      <p>Arthur Morgan e a gangue Van der Linde são forçados a fugir. Com agentes federais e caçadores de recompensas no
        seu encalço,
        a gangue precisa roubar, assaltar e lutar para sobreviver no impiedoso coração dos Estados Unidos.
        pelotão é a arma mais mortal.</p>
      <span class="preco">R$ 74,97</span>
    </div>

    <div class="jogo">
      <img src="../static/imagens/fifa26.jpg" alt="EA FC26" />
      <h3>EA SPORTS FC™ 26</h3>
      <p>O Clube é Seu no EA SPORTS FC™ 26. Jogue do seu jeito com uma experiência de jogabilidade reformulada
        impulsionada pelos comentários da comunidade, Desafios ao Vivo de Manager que trazem enredos frescos para a nova
        temporada e Arquétipos inspirados em craques do esporte.</p>
      <span class="preco">R$ 299,00</span>
    </div>

    <div class="jogo">
      <img src="../static/imagens/residentevil4.jpg" alt="Resident evil 4" />
      <h3>Resident Evil 4</h3>
      <p>Sobrevivência é apenas o começo. Seis anos se passaram desde o desastre biológico em Raccoon City. Leon S.
        Kennedy, um dos sobreviventes, segue o rastro da raptada filha do presidente até uma vila europeia isolada, onde
        há algo terrivelmente errado com os habitantes</p>
      <span class="preco">R$ 169,00</span>
    </div>

</body>

</html>