<!DOCTYPE html>
<html>
  <head>
    <title>GaStore - Perfil</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/perfil.css" />
  </head>
  <body>
    <script src="../noStatic/menu.js"></script>
    <button type="submit" class="logout-button">Logout</button>
    <p id="mensagem-logout"></p>

    <div class="perfil">
      Meu Perfil
      <form id="perfilForm" method="POST" class="perfil-form">
        <div>
          <label>ID:</label>
          <span class="perfil-info" id="idDisplay"></span>
        </div>

        <div>
          <label>Nome:</label>
          <span class="perfil-info" id="nomeDisplay"></span>
          <input type="text" id="nomeInput" name="nome" style="display:none;" />
        </div>

        <div>
          <label>Email:</label>
          <span class="perfil-info" id="emailDisplay"></span>
          <input type="email" id="emailInput" name="email" style="display:none;" />
        </div>

        <div>
          <label id="senhaDisplay" style="display:none;">Senha:</label>
          <input type="password" id="senhaInput" name="senha" style="display:none;" />
        </div>
      </form>

      <button id="editarBtn">Editar</button>
      <button id="salvarBtn" style="display:none;">Salvar</button>
      <button id="cancelarBtn" style="display:none;">Cancelar</button>
      <p id="mensagem"></p>
    </div>

    <div class="comprasUsuario">
      Minhas Compras<div>
        <table>
          <thead>
            <tr>
              <th>ID Compra</th>
              <th>Data</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody id="corpo-tabela-compras">
            <!-- As compras serão inseridas aqui via JavaScript -->
          </tbody>
        </table>
      </div>
    </div>

    <script src="../noStatic/perfil.js" defer></script>
  </body>
</html>
