<!DOCTYPE html>
<html>
<head>
  <title>GaStore - Lista de Desejos</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/wishlist.css" />
</head>

<body>
  <script src="../noStatic/menu.js"></script>

  <div class="inicio-wrapper"> <h2>Minha Lista de Desejos</h2>
    
    <div class="jogos" id="wishlist-list">
      <p>Carregando sua lista de desejos...</p>
    </div>

  </div>

  <script src="../noStatic/wishlist.js" defer></script>
</body>
</html>